html {
    font-size: 22px;
}


.header {
    background: rgba(245,255,254,1);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	color: black;
    background: rgba(245,255,254,1);
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
    padding-top: 3.90909rem;
	margin:  0 auto; 

    width: 100%;
    max-width: 1115px;
    padding: 0 1rem;
}

h1  {
    font-size: 2.545454rem; 
    font-style: normal;
    font-weight: normal;
	margin-bottom: 0.5rem;
}

h2  {
    font-size: 2.545454rem;
    font-style: normal;
    font-weight: bold;
	margin-bottom: 0;
	text-transform: uppercase;
}

h3  {
    font-size: 2.545454rem;
    font-style: normal;
    font-weight: 300;
	margin-bottom: 2.545454rem;;
}

h4 {
    font-size: 2.909090rem;
    font-style: normal;
    font-weight: bold;
	margin-bottom: 1.272727rem;
}

.aboutim {
    display: flex;
	justify-content: space-between;
}

.photo {
    width: 464px;
}

.photo image my_photo {
    max-width: 100%;
}

.skills {
    width: 570px;
}

.skills p {
    padding: 0.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

.vk_link {
    display: flex;
	justify-content: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 2.272727rem;
    margin-right: 1.545454rem;
}

.vk_link p {    
    margin-top: 0.454545rem;
    margin-right: 5;
}

.vk_link a:hover {
    color:brown;
}

/* @media screen and (max-widht: 1200) {
    .container {
        width: 400px;
    }.photo image my_photo {
        max-width: 80%;
    }
} */

@media screen and (max-width: 991px) {
    .container {
        width: 900px;
    }.photo image my_photo {
        max-width: 25%;
    }
    .vk_link p {    
        margin-top: 0.2rem;
        margin-right: 5;
    }
    .skills p {
        padding: 1px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 700px;
    }.photo image my_photo {
        max-width: 80%;
    }
    .photo {
        max-width: 100%;
        margin:  0 auto; 
    }
    .aboutim {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}